@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }
  section#login {
    width: 80vw;
    display: flex;
    height: 300px;
  }
  section#login > div#imagem {
    width: 40%;
    height: auto;
  }
  section#login > div#formulario {
    width: 60%;
    padding: 24px;
  }
}
@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }
  section#login {
    width: 950px;
    display: flex;
    align-items: stretch;
    height: 350px;
  }
  section#login > div#imagem {
    width: 50%;
    height: auto;
  }
  section#login > div#formulario {
    width: 50%;
    padding: 32px;
  }
  div#formulario > h1 {
    font-size: 2em;
  }
  div#formulario > p {
    font-size: 1em;
    margin: 20px 0;
  }
}
